name: CI

on:
  push:
    branches:
      - main
      - protocol
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  library:
    runs-on: macos-12
    strategy:
      matrix:
        xcode: ['13.4.1', '14.0']
        config: ['debug', 'release']
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run ${{ matrix.config }} tests
        run: make test-library-${{ matrix.config }}
      - name: Compile documentation
        if: ${{ matrix.xcode == '14.0' }}
        run: make test-docs
      - name: Run benchmark
        run: make benchmark

  examples:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_14.0.app
      - name: Run tests
        run: make test-examples
