name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  xcodebuild:
    name: xcodebuild
    runs-on: macos-14
    strategy:
      matrix:
        command: [test, '']
        platform: [iOS, macOS, tvOS, watchOS, visionOS, macCatalyst]
        xcode: [15.2, 15.4, '16.0']
        exclude:
          - {xcode: 15.2, command: test}
          - {xcode: 15.4, command: ''}
          - {xcode: 15.2, platform: macCatalyst}
          - {xcode: 15.2, platform: tvOS}
          - {xcode: 15.2, platform: visionOS}
          - {xcode: 15.2, platform: watchOS}
          - {xcode: '16.0', command: ''}
          - {xcode: '16.0', platform: macCatalyst}
          - {xcode: '16.0', platform: tvOS}
          - {xcode: '16.0', platform: visionOS}
          - {xcode: '16.0', platform: watchOS}
        include:
          - {xcode: 15.2, skip_release: 1}
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Cache derived data
        uses: actions/cache@v3
        with:
          path: |
            ~/.derivedData
          key: |
            deriveddata-xcodebuild-${{ matrix.platform }}-${{ matrix.xcode }}-${{ matrix.command }}-${{ hashFiles('**/Sources/**/*.swift', '**/Tests/**/*.swift') }}
          restore-keys: |
            deriveddata-xcodebuild-${{ matrix.platform }}-${{ matrix.xcode }}-${{ matrix.command }}-
      - name: Set IgnoreFileSystemDeviceInodeChanges flag 
        run: defaults write com.apple.dt.XCBuild IgnoreFileSystemDeviceInodeChanges -bool YES
      - name: Update mtime for incremental builds 
        uses: chetan/git-restore-mtime-action@v2
      - name: Debug
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: xcodebuild
          - subcommand: ${{ matrix.command }}
          - platform: ${{ matrix.platform }}
          - scheme: ComposableArchitecture
          - config: Debug
      - name: Release
        if: matrix.skip_release != '1'
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: xcodebuild
          - subcommand: ${{ matrix.command }}
          - platform: ${{ matrix.platform }}
          - scheme: ComposableArchitecture
          - config: Release

  library-evolution:
    name: Library (evolution)
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode 15.4
        run: sudo xcode-select -s /Applications/Xcode_15.4.app
      - name: Build for library evolution
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: build-for-library-evolution
          - scheme: ComposableArchitecture

  examples:
    name: Examples
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Cache derived data
        uses: actions/cache@v3
        with:
          path: ~/.derivedData
          key: |
            deriveddata-examples-${{ hashFiles('**/Sources/**/*.swift', '**/Tests/**/*.swift', '**/Examples/**/*.swift') }}
          restore-keys: |
            deriveddata-examples-
      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.0.app
      - name: Set IgnoreFileSystemDeviceInodeChanges flag
        run: defaults write com.apple.dt.XCBuild IgnoreFileSystemDeviceInodeChanges -bool YES
      - name: Update mtime for incremental builds
        uses: chetan/git-restore-mtime-action@v2
      - name: CaseStudies (SwiftUI)
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: CaseStudies (SwiftUI)
          - platform: iOS
      - name: CaseStudies (UIKit)
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: CaseStudies (UIKit)
          - platform: iOS
      - name: Search
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: Search
          - platform: iOS
      - name: SyncUps
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: SyncUps
          - platform: iOS
      - name: SpeechRecognition
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: SpeechRecognition
          - platform: iOS
      - name: TicTacToe
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: TicTacToe
          - platform: iOS
      - name: Todos
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: Todos
          - platform: iOS
      - name: VoiceMemos
        uses: capturecontext/swift-package-action@1.0
        with:
          - command: test-example
          - scheme: VoiceMemos
          - platform: iOS
