name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  library:
    runs-on: macos-11.0
    strategy:
      matrix:
        xcode:
          - '12.4'
          - '12.5.1'
          - '13.2.1'
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: make test-library
      - name: Compile documentation
        if: ${{ matrix.xcode == '13.2' }}
        run: make test-docs
      - name: Run benchmark
        run: make benchmark

  examples:
    runs-on: macos-11.0
    strategy:
      matrix:
        xcode:
          - '13.2.1'
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run tests
        run: make test-examples
