name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  test:
    name: Test
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - name: Select Xcode 11.4
        run: sudo xcode-select -s /Applications/Xcode_11.4.app
      - name: Run tests
        run: make test-all
