name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  library-swift-latest:
    name: Library
    runs-on: macos-13
    strategy:
      matrix:
        config:
          - debug
          - release
        xcode:
          - '14.3.1'
          - '15.0'
    steps:
      - uses: actions/checkout@v4
      - name: Select Xcode ${{ matrix.xcode }}
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: Run ${{ matrix.config }} tests
        run: make CONFIG=${{ matrix.config }} test-library

  library-evolution:
    name: Library (evolution)
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3.1
        run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
      - name: Build for library evolution
        run: make build-for-library-evolution

  benchmarks:
    name: Benchmarks
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3.1
        run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
      - name: Run benchmark
        run: make benchmark

  examples:
    name: Examples
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
      - name: Select Xcode 14.3.1
        run: sudo xcode-select -s /Applications/Xcode_14.3.1.app
      - name: Run tests
        run: make test-examples
