name: Format

on:
  push:
    branches:
      - main

concurrency:
  group: format-${{ github.ref }}
  cancel-in-progress: true

jobs:
  swift_format:
    name: swift-format
    runs-on: macos-26
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Select Xcode 26.3
        run: sudo xcode-select -s /Applications/Xcode_26.3.app
      - name: Format
        run: make format
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Run swift-format
          branch: 'main'
